{% extends "base.html" %}
{% block content %}

<div class="card">
  <h2>Login</h2>

  <form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
  </form>

  <p style="margin-top:16px; font-size:13px; color:#6b7280; text-align:center;">
    Don't have an account? <a href="{% url 'accounts:register' %}">Register</a>
  </p>
</div>

{% endblock %}